/* Navbar */
.navbar{ 
    background: #ff9f1c;
}

.nav-link , .navbar-brand{ 
    color: #f4f4f4; cursor: pointer;
}

.nav-link{ 
    margin-right: 1em !important;
}

.nav-link:hover{ 
    background: #f4f4f4; color: #f97300; 
}

.navbar-collapse{ 
    justify-content: flex-end;
}

.navbar-toggler{  
    background:#fff !important;
}

.navbar-collapse{
    justify-content: flex-end;
}

.bg-dark{
    background-color:#343a40!important
}
.bg-primary{
    background-color:#007bff!important
}


/*header*/

.header {
    padding-bottom: 0;
}
.header img{
    /* background-image: url('bg1.jpg'); */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 50vw;
    margin-bottom: 0;
    border: none;
}
    /* padding-bottom: 50px;
   } */

/* .header img {
    background-position: absolute;

} */

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}


.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
    
}
.description h1{
 color :#635951 ;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.description button{
 border:1px  solid #F97300;
 background: #ff9f1c;
 color:#fff;
}